body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f7fa;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2f;
    padding: 1rem 2rem;
}

.header-right {
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.header-tab {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.header-tab:hover {
    text-decoration: underline;
}

.home-icon {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: auto;
}

.home-icon:hover {
    color: #ccccff;
    cursor: pointer;
}
