<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ocr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='face.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('main.home') }}" class="home-icon" title="Go to Home">
            &#8962; Home
        </a>
        <div class="header-right">
        <a href="{{ url_for('main.ocr') }}" class="header-tab">OCR/STR</a>
        <a href="{{ url_for('main.face') }}" class="header-tab">Face Recognition</a>
        </div>
    </header>

    <main class="{{ main_class | default('default-main') }}">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
