{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="message-container">
    <div class="main-page-message">
        This is a digital software that I showcase to demonstrate that I can do CI/CD & AI in the most simplistic way. For source code, see the GitHub link below.
    </div>
    <div class="main-page-message">
        For CI, it currently uses an extremely simple workflow on GitHub Actions as proof of concept.
    </div> 
    <div class="main-page-message">
        The application is hosted on Google Cloud Platform through Traefik (Docker) and Let's Encrypt (Docker).
    </div>  
</div>
{% endblock %}